@keyframes slide-enter {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-enter-content {
  counter-reset: enter-count;
}

.slide-enter-content > * {
  opacity: 0;
  transform: translateY(10px);
  animation: slide-enter 1s ease-out forwards;
  animation-delay: calc(var(--stagger) * var(--delay));
}

.slide-enter-content > *:nth-child(n) {
  --stagger: n-1;
  --delay: 200ms;
}